.refemi-navbar {
  color: $dark-grey;
  position: sticky !important;
  top: 0;
  width: 100%;
  height: 5rem;
  padding: 0 1rem 0 2rem;
  margin-bottom: -10rem;
  background-color: $white;
  box-shadow: $down-box-shadow;
  transition: all 500ms linear;
  z-index: 999;

  @include tablet {
    margin-bottom: -6rem;
  }

  &_down {
    color: $white;
    transform: translateY(-2rem);
    opacity: 0;
  }

  .logo {
    position: relative;
    margin: 0 auto;
    transition: 1s;

    @include mobile {
      margin: 0.5rem 1rem 0 0;
      transition: 1s;
    }
  
    &-square {
      right: 10px;
      bottom: 1.2rem;
      position: absolute;
      width: 0.5rem;
      height: 0.5rem;
    }
    &-square:nth-child(1) {
      background-color: $green-grey;
      right: 0;
    }
    &-square:nth-child(2) {
      background-color: $dark-blue;
      right: -1rem;
    }
    &-square:nth-child(3) {
      background-color: $aqua;
      right: -2rem;
    }
    &-square_link {
      font-size: $font-24;
      color: $dark-grey;

      @include mobile {
        margin-left: -1rem;
      }
    }
  }

  .nav {
    margin: auto 0;

    @include mobile {
      display: flex;
      width: 500px;
    }

    .nav-toggle {
      position: absolute;
      top: 0.8rem;
      left: 1rem;
      max-height: 50px;
      width: 50px;
      margin: auto;
      background-color: transparent;
      z-index: 99;
      transition: 0.5s;
      
      &.show-toggle {
        color: $dark-blue;
        transform: rotate(90deg);
      }

      @include mobile {
        display: none;
      }
    }
  }
  .nav-container {
    display: block;
    position: absolute;
    left: -100%;
    width: inherit;
    height: 50rem;
    padding-top: 2rem;
    transition: 0.2s;
    background-color: $white;
    z-index: 9;
    top: 5rem;

    &.show-links {
      transform: translateX(100%);
      transition: 0.6s;

      @include mobile {
        transform: translateX(0);
        transition: 0;

      }
    }
    .menu-btn:hover {
      background-color: $green-grey;
    }

    .nav-item {
      margin: auto;
      width: calc(100% / 3);

      .btn-nav {
        padding: 1rem;
        width: 100%;
      }
      .btn-nav:hover,
      .dropdown-btn:hover {
        color: $dark-blue;
        transition: 0.5s;
      }

      .dropdown-items {
        position: relative;
        display: flex;
        flex-direction: column;

        @include mobile {
          display: flex;
          position: absolute;
          flex-direction: column;
          width: calc((100% + 1rem) / 3);
        }
      }
    }

    @include mobile {
      display: flex;
      background-color: unset;
      position: relative;
      top: unset;
      left: unset;
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
    }
  }

  .nav-item:nth-child(1):hover {
    .dropdown-btn:hover {
      background-color: $green-grey !important;
      color: $white;
    }

    .btn-nav:nth-child(1):hover {
      background-color: $dark-blue;
      color: $white;
    }
    .btn-nav:nth-child(2):hover {
      background-color: $aqua;
      color: $white;
    }
  }
  .nav-item:nth-child(2) {
    .btn-nav:hover {
      background-color: $dark-blue;
      color: $white;
    }
  }
  .nav-item:nth-child(3) {
    .btn-nav:hover {
      background-color: $aqua;
      color: $white;
    }
  }

  #signout:hover {
    color: $dark-grey;
    box-shadow: unset;
  }
}
