.refemi-navbar {
  color: $dark-grey;
  position: fixed !important;
  top: 0;
  width: 100%;
  height: 8rem;
  background-color: $white;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 999;

  .logo {
    position: relative;
    margin: 1em;
    span {
      bottom: 2em;
      right: 10px;
      position: absolute;
      width: 0.5rem;
      height: 0.5rem;
    }
    span:nth-child(1) {
      background-color: $green-grey;
      right: 0;
    }
    span:nth-child(2) {
      background-color: $dark-blue;
      right: -1em;
    }
    span:nth-child(3) {
      background-color: $aqua;
      right: -2em;
    }
    a {
      font-size: 3em;
      color: #2f3030;
    }
  }

  .nav-container {
    .nav-item {
      margin: auto;
      .btn-nav {
        padding: 3vh 1vw;
        width: 10rem;
      }
      .btn-nav:hover {
        color: $white;
      }
      header li:nth-child(1) > button:hover {
        background-color: #8fc6bb;
        color: white;
      }

      header li:nth-child(2) > button:hover {
        background-color: #0808a3;
        color: white;
      }

      header li:nth-child(3) > button:hover {
        background-color: #0ae2af;
        color: white;
      }
    }
  }
}
