.refemi-navbar {
  color: $dark-grey;
  position: fixed !important;
  top: 0;
  width: 100%;
  height: 8rem;
  background-color: $white;
  box-shadow: $down-box-shadow;
  z-index: 999;

  .logo {
    position: relative;
    margin-top: 0.9em;
    margin-left: 12vh;

    @include mobile {
      margin: 1em;
    }
  
    &-square {
      right: 10px;
      bottom: 3em;
      position: absolute;
      width: 0.5rem;
      height: 0.5rem;

      @include mobile {
        bottom: 2em;
      }
    }
    &-square:nth-child(1) {
      background-color: $green-grey;
      right: 0;
    }
    &-square:nth-child(2) {
      background-color: $dark-blue;
      right: -1rem;
    }
    &-square:nth-child(3) {
      background-color: $aqua;
      right: -2rem;
    }
    &-square_link {
      font-size: $font-30;
      color: $dark-grey;
    }
  }

  .nav {
    margin: auto 0;

    @include mobile {
      display: flex;
    }

    .nav-toggle {
      position: absolute;
      top: 2em;
      left: 1em;
      max-height: 50px;
      width: 50px;
      margin: auto;
      background-color: transparent;
      z-index: 99;
      transition: 0.5s;
      
      &.show-toggle {
        color: $dark-blue;
        transform: rotate(90deg);
      }

      @include mobile {
        display: none;
      }
    }
  }
  .nav-container {
    display: block;
    position: absolute;
    top: 8em;
    left: -100%;
    width: 100%;
    height: 100vh;
    padding-top: 2em;
    transition: 0.2s;
    background-color: $white;
    z-index: 9;

    &.show-links {
      transform: translateX(100%);
      transition: 0.6s;
      box-shadow: $side-box-shadow;

      @include mobile {
        transform: translateX(0);
        transition: 0;
        box-shadow: none;
      }
    }

    .nav-item {
      margin: auto;

      .btn-nav {
        padding: 3vh 1vw;
        width: 100%;

        @include mobile {
          width: 12em;
          height: 5.5em;
        }
      }
      .btn-nav:hover,
      .dropdown-btn:hover {
        color: $white;
        box-shadow: $light-box-shadow;
        transition: 0.5s;
      }

      .dropdown-items {
        position: relative;
        display: flex;
        flex-direction: column;

        @include mobile {
          display: flex;
          position: absolute;
          flex-direction: column;
          border-radius: $border-radius-1;
          box-shadow: $medium-box-shadow;
        }
      }
    }

    @include mobile {
      display: flex;
      background-color: unset;
      position: relative;
      top: unset;
      left: unset;
      margin: 0;
      padding: 0;
      width: auto;
      height: auto;
      border-radius: $border-radius-1;
    }
  }

  .nav-item:nth-child(1) {
    .dropdown-btn:hover {
      background-color: $green-grey !important;
      color: $white;
    }

    .btn-nav:nth-child(1):hover {
      background-color: $dark-blue;
      color: $white;
    }
    .btn-nav:nth-child(2):hover {
      background-color: $aqua;
      color: $white;
    }
  }
  .nav-item:nth-child(2) {
    .btn-nav:hover {
      background-color: $dark-blue;
      color: $white;
    }
  }
  .nav-item:nth-child(3) {
    .btn-nav:hover {
      background-color: $aqua;
      color: $white;
    }
  }
}
