.refemi-navbar {
  color: $dark-grey;
  position: fixed !important;
  top: 0;
  width: 100%;
  height: 8rem;
  background-color: $white;
  box-shadow: $down-box-shadow;
  z-index: 999;

  .logo {
    position: relative;
    margin: 1rem;
    &-square {
      bottom: 2rem;
      right: 10px;
      position: absolute;
      width: 0.5rem;
      height: 0.5rem;
    }
    &-square:nth-child(1) {
      background-color: $green-grey;
      right: 0;
    }
    &-square:nth-child(2) {
      background-color: $dark-blue;
      right: -1rem;
    }
    &-square:nth-child(3) {
      background-color: $aqua;
      right: -2rem;
    }
    &-square_link {
      font-size: $font-30;
      color: $dark-grey;
    }
  }

  .nav-center {
    margin: auto 0;

    .nav-toggle:hover {
      color: $dark-blue;
      transform: rotate(90deg);
      transition: 0.5s;
    }
    .nav-toggle {
      position: relative;
      max-height: 50px;
      width: 50px;
      margin: auto;
      background-color: transparent;
      z-index: 99;

      @include mobile {
        display: none;
      }
    }
  }
  .nav-container {
    display: none;
    position: absolute;
    top: 50px;
    left: -50px;
    border-radius: $border-radius-1;
    transition: 0.5s;

    &.show-links {
      display: block;
      box-shadow: $down-box-shadow;
    }

    @include mobile {
      position: unset;
      top: unset;
      left: unset;
    }

    .nav-item {
      margin: auto;
      .btn-nav {
        padding: 3vh 1vw;
        width: 10rem;
      }
      .btn-nav:hover,
      .dropdown-btn:hover {
        color: $white;
        box-shadow: $light-box-shadow;
        transition: 0.5s;
      }

      .dropdown-items {
        display: flex;
        flex-direction: column;
        box-shadow: $medium-box-shadow;
        border-radius: $border-radius-1;
      }
    }
    @include mobile {
      display: flex;
    }
  }

  .nav-item:nth-child(1) {
    .dropdown-btn:hover {
      background-color: $green-grey !important;
      color: $white;
    }

    .btn-nav:nth-child(1):hover {
      background-color: $dark-blue;
      color: $white;
    }
    .btn-nav:nth-child(2):hover {
      background-color: $aqua;
      color: $white;
    }
  }
  .nav-item:nth-child(2) {
    .btn-nav:hover {
      background-color: $dark-blue;
      color: $white;
    }
  }
  .nav-item:nth-child(3) {
    .btn-nav:hover {
      background-color: $aqua;
      color: $white;
    }
  }
}
