.found-references {
  background-color: $light-grey;
  border-radius: 1rem;

  &_similar-title {
    font-size: 0.9rem;
  }

  &_list {
    &_element {
      &:hover {
        background-color: #fff;
        cursor: zoom-in;
      }
      &:hover:after {
        font-size: 0.8rem;
        font-weight: bold;
        content: " (voir la référence)";
      }
    }
  }
}
