.found-references {
  background-color: $light-grey;
  border-radius: $border-radius-1;

  &_similar-title {
    font-size: $font-09;
  }

  &_list {
    &_element {
      &:hover {
        background-color: $white;
        cursor: zoom-in;
      }
      &:hover:after {
        font-size: $font-08;
        font-weight: bold;
        content: " (voir la référence)";
      }
    }
  }
}