.counter {

  &-double {
    width: 50%;
  }

  &-wrapper {
    width: 50%;

  }

  &-box {
    width: 5rem;
    height: 5rem;
  }

  &-label {
    margin-bottom: 1rem;
    font-size: small;

    @include tablet {
      margin-bottom: 0;
    }
  }

  &-value,
  &-text {
    font-family: $font-open-sans;
    color: $dark-grey;
  }

  &-value {
    font-size: $font-10;

    @include tablet {
      font-size: $font-14;
    }
  }

  &-text {
    margin-left: -0.5rem;
    font-size: $font-08;

    @include tablet {
      font-size: $font-12;
    }
  }
}
