.reference-content {
  width: 100%;
  margin-bottom: 20rem;
  margin-top: 0;
  padding-top: 1rem;

  @include tablet {
    width: 90%;
    margin-top: 3rem;
    padding: 3rem;
  }

  &-header {
    width: 100%;
    margin-top: 20px;

    @include tablet {
      width: 60%;
      margin: auto;
    }
  }

  &-info {
    padding: 0;

    @include tablet {
      padding-left: 3rem;
    }
  }

  &-title {
    font-size: $font-10;

    @include tablet {
      font-size: $font-14;
    }
  }

  &-details {
    width: 100%;
    padding: 1rem;

    @include tablet {
      width: 90%;
      padding: 3rem;
    }
  }
}
