.auth {
  &-field {
    &-list {
      li {
        list-style: auto;
        margin-left: 2rem;
      }
    }

    .error {
      padding-left: 0.5rem;
      font-size: $font-08;
      color: $red;
    }
  }
}
