.dashboard {
  padding: 3rem;

  &-content {
    box-shadow: $light-box-shadow;
    padding: 5vh;
  }

  &-header {
    background-color: $faded-green-grey;
  }

  .counter-value {
    font-size: $font-08 !important;
  }

  .form-content {
    margin-bottom: 10rem;
  }

  &-article {
    padding-top: 1rem;
    padding-left: 1rem;
    background-color: $faded-green-grey;
  }

  .add-button_wrapper {
      width: 100%;
    }
  
}
