.dashboard {
  
  &-content {
    background-color: $light-grey;
    box-shadow: $light-box-shadow;
    padding: 1rem 2rem;

    form {
      background-color: $faded-green-grey;

      .form-content {
        margin-bottom: 10rem;
      }

      .rdw-editor-wrapper {
        background-color: $white;
        border-radius: 0 0 1rem 1rem;
      }
    }

    
    
    aside {
      margin-bottom: 3rem;
      padding: 1rem;
      background-color: transparent;

      .navbar-start {
        margin-right: 10rem;
      }
    }
  }
  &-header {
    background-color: $faded-green-grey;

    .counter-value {
      font-size: $font-08 !important;
    }

    .dropdown-menu {
      left: auto!important;
      right: 2rem!important;
  
      .dropdown-content {
  
        .dropdown-item:hover {
          &:nth-child(0) {
            background-color: $dark-blue;
          }    
          &:nth-child(1):hover {
            background-color: $dark-blue;
            color: $white;
          }
          &:nth-child(2):hover {
            background-color: $aqua;
            color: $white;
          }
        }
        .dropdown-item:nth-child(2) {
          .btn-nav:hover {
            background-color: $dark-blue;
            color: $white;
          }
        }
        .dropdown-item:nth-child(3) {
          .btn-nav:hover {
            background-color: $aqua;
            color: $white;
          }
        }
      }
    }
  }
}
