.home {
  .box {
    border-radius: 1rem;
    padding: 0.5rem;
    font-size: 1.5rem;
    min-width: 10rem;
    min-height: 10rem;
    max-width: 15rem;
    max-height: 15rem;
  }

  .counters-container {
    height: 25rem;
  }

  .paragraph-container {
    width: 60%;
    margin: auto;
  }

  .counter-value {
    font-family: $font-open-sans;
  }
}
