.search {
  .search-input {
    width: 80%;
    margin: auto 0;
  }

  .clearBtn {
    font-size: $font-20;
    position: absolute;
    top: 38%;
    right: 12%;

    @include tablet {
      right: 10%;
      top: 5%
    }
  }
}

.icon-navbar:hover {
  color: $aqua;
  transition: 0.5s;
  width: 30px;
  height: 30px;
}
