@include keyframes-animation(zoom-in-out) {
    0% { -ms-transform: scale(1); transform: scale(1); }
    50% { -ms-transform: scale(1.2); transform: scale(1.2); }
    100% { -ms-transform: scale(1); transform: scale(1); }
}