// Colors
$green-grey: #8fc5bb;
$faded-green-grey: #8fc5bb80;
$dark-blue: #0808a3;
$faded-dark-blue: #0808a380;
$aqua: #0be3af;
$faded-aqua: #0be3af80;
$white: white;
$dark-grey: #313232;
$light-grey: lightgray;
$red: red;

// Box setup
$light-box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
$medium-box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.3);
$border-radius-1: 1rem;
$border-radius-half: 0.5rem;

// Font-sizes
$font-08: 0.8rem;
$font-10: 1rem;
$font-12: 1.2rem;
$font-14: 1.4rem;
$font-16: 1.6rem;
$font-18: 1.8rem;
$font-20: 2rem;
$font-22: 2.2rem;

$font-open-sans: "Open Sans", sans-serif;
$font-refemi: "Old Standard TT", serif;
