@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

main {
  margin-top: 8rem;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
fieldset {
  border: none;
}
hr {
  border: none;
  color: lightgray;
  background-color: lightgray;
  height: 0.5px;
}

.darkblue-text {
  color: $dark-blue;
}

.darkblue-bg {
  background-color: $dark-blue !important;
}
.darkblue-bg-opacity {
  background-color: $faded-dark-blue !important;
}
.aqua-bg {
  background-color: $aqua !important;
}
.aqua-bg-opacity {
  background-color: $faded-aqua !important;
}
.grey-bg {
  background-color: $green-grey !important;
}
.grey-bg-opacity {
  background-color: $faded-green-grey !important;
}
.alternate-bg:nth-child(3n + 2),
.darkblue-bg-opacity {
  background-color: $faded-dark-blue !important;
}
.alternate-bg:nth-child(3n + 1),
.grey-bg-opacity,
.grey-bg-opacity-cat {
  background-color: $faded-green-grey !important;
}
.alternate-bg:nth-child(3n + 3),
.aqua-bg-opacity {
  background-color: $faded-aqua !important;
}
.grey-bg-opacity:hover,
.darkblue-bg-opacity:hover,
.aqua-bg-opacity:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}
.grey-bg-opacity:hover {
  background-color: $green-grey !important;
}
.darkblue-bg-opacity:hover {
  background-color: $dark-blue !important;
}
.aqua-bg-opacity:hover {
  background-color: $aqua !important;
}
.white-bg {
  background-color: $white !important;
}

.refemi {
  font-family: $font-refemi;
}

/* Buttons */
.cat-btn,
.add-btn,
.btn {
  background-color: transparent;
  border-color: transparent;
}
.btn {
  font-size: 0.8rem;
}
.btn:hover {
  color: #0808a3;
}
.send-btn {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
}
.send-btn:hover {
  color: #0808a3;
  background-color: white;
  border: 1px solid #0808a3;
}

.pointer {
  cursor: pointer;
}
