.icon-navbar:hover {
  color: grey;
}

.dataResult {
  margin-top: 5px;
  width: 60%;
  height: 20%;
  margin: 20vh auto;
  cursor: pointer;
  overflow: hidden;
}

.line {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.description {
  height: 3rem;
}
.description:hover {
  background-color: #8fc5bb80;
}
.select {
  width: 30%;
}
