nav {
  padding: 0;
  margin: 0;
  display: flex;
  padding-top: 4vh;
  list-style: none;
}

nav a {
  text-decoration: none;
  color: black;
}

nav li {
  display: inline;
  margin: 1vh 1vw;
  padding: 1vh 1vw;
}

/* .class li {
  text-decoration: underline;
  display: list-item;
  margin: 0px;
  padding: 0px;
} */

header button {
  padding: 3vh 1vw;
}

header button:hover {
  color: white;
}

header button {
  text-transform: uppercase;
}

header li button {
  width: 10rem;
  border-radius: 5px;
  cursor: "pointer";
}

header li:nth-child(1) > button:hover {
  background-color: #8fc6bb;
  color: white;
}

header li:nth-child(2) > button:hover {
  background-color: #0808a3;
  color: white;
}

header li:nth-child(3) > button:hover {
  background-color: #0ae2af;
  color: white;
}

.btn-nav {
  background-color: white;
  border: 0px;
}
.btn-nav:hover {
  background-color: #8fc6bb;
}
