.cat-box:hover {
  box-shadow: 0 30px 30px 0 rgba(0, 0, 0, 0.3);
}
.cat-box:nth-child(3n + 1):hover {
  background-color: #8fc5bb;
}
.cat-box:nth-child(3n + 2):hover {
  background-color: #0808a3;
}
.cat-box:nth-child(3n + 3):hover {
  background-color: #0be3af;
}
.position-absolute {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.position-absolute-icon {
  position: absolute;
  left: 35%;
  transform: translateY(50%);
}
.position-relative {
  position: relative;
}
.cat-description {
  padding: 1rem;
  background-color: white;
  width: 14rem;
  height: 2rem;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
}
.subcat {
  margin: 2rem 0 1rem 0;
}
.reflist-div {
  width: 33%;
}
.icon {
  color: white;
}
