@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

.number-counters {
  font-family: "Open Sans", sans-serif;
  font-size: 2rem;
}

/* Counter */
.box {
  display: flex;
  flex-direction: column;
  width: 5em;
  height: 5rem;
  margin: 1rem;
  padding: 2rem;
  /*   border: 0.1rem black solid; */
  /* border-radius: 1rem; */
}
.box-legend {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  margin-top: 1vh;
}
