@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

/* Home */
.margin-description {
  margin: 5rem 10rem 5rem 10rem;
}
.refemi {
  font-family: "Antique Book Cover";
  font-size: 1.7rem;
}
.line-height {
  line-height: 2rem;
}

.important {
  color: #0808a3;
}

/* Numbers counters */
.numbers {
  font-family: "Open Sans", sans-serif;
}
