.line {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
}
.description {
  height: 3rem;
}
.description:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  background-color: #8fc5bb80;
  color: white;
}
.select {
  width: 30%;
}
.reflist {
  font-weight: bolder;
  color: lightgray;
}
.scrollbar {
  height: 60px;
  overflow-y: scroll;
  scrollbar-color: #86969380;
  scrollbar-width: thin;
}
