.widget {
  position: fixed;
  width: 40rem;
  top: 18%;
  right: 50%;
}
.widget-btn:hover {
  background-color: white;
  border: 1px solid #0808a3;
  color: #0808a3;
}
.widget-btn {
  min-width: 10rem;
  border: 1px solid white;
  border-radius: 10px;
  background-color: lightgray;
  padding: 1rem;
  margin: 1vh 0 1vh 0;
}

.show-btn {
  min-width: 3rem;
  height: 3rem;
  border: 2px solid lightgray;
  border-radius: 10px;
  color: darkgrey;
  font-weight: bold;
}
