footer {
  display: flex;
  min-height: 15vh;
  min-width: 20vw;
  margin: 0 auto;
  padding: 5vh 5vw;
  justify-content: space-around;
}

footer > div {
  margin: 1vh 2vw;
  padding: 1vh 1vw;
  min-width: 20vw;
}

footer h5 {
  margin-bottom: 1vh;
}

footer li {
  list-style: none;
}

#network {
  display: flex;
}

.color {
  color: #8fc5bb;
}
