.margin-top20 {
  margin-top: 15vw;
}
.margin-top10 {
  margin-top: 10vw;
}
.margin-end20 {
  margin-right: 20vw;
}
.margin-end10 {
  margin-right: 5vw;
}
.margin-bottom10 {
  margin-bottom: 10vh;
}
.margin-bottom20 {
  margin-bottom: 20vh;
}
.margin-bottom30 {
  margin-bottom: 30vh;
}

.margin5 {
  margin: 1vh 1vw;
}

.margin20 {
  margin: 15vh 3vw;
}
.margin30 {
  margin: 17vh 5vw;
}

.padding2rem {
  padding: 2vh 2vw;
}
.padding5 {
  padding: 5vh 5vw;
}
