.margin-top20 {
  margin-top: 15vw;
}
.margin-top10 {
  margin-top: 10vw;
}
.margin-end20 {
  margin-right: 20vw;
}
.margin-end10 {
  margin-right: 5vw;
}
.margin-bottom10 {
  margin-bottom: 10vh;
}
.margin-bottom20 {
  margin-bottom: 20vh;
}
.margin-bottom30 {
  margin-bottom: 30vh;
}
.margin-bottom5 {
  margin-bottom: 3vh;
}
.margin5 {
  margin: 1vh 1vw;
}

.margin20 {
  margin: 15vh 3vw;
}
.margin30 {
  margin: 17vh 5vw;
}
.width80 {
  width: 80%;
}
.top {
  top: 20%;
}
.borders {
  border-radius: 1em;
}
.padding2rem {
  padding: 2vh 2vw;
}
.padding5 {
  padding: 5vh 5vw;
}

.white-hover:hover {
  color: white;
}

/* Hover */
.pointer {
  cursor: pointer;
}

/* Line */

/* Drop Shadow Up */
.dashboard-content {
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 5vh;
}

/* For Forms */
.required::after {
  color: red;
  content: " *";
}

/* Boxes */
.cat-box {
  width: 20rem;
  height: 15rem !important;
}
