@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}
@font-face {
  font-family: "Antique Book Cover";
  src: url("./fonts/antique_book_cover.otf");
}

#root > div {
  min-height: 50vh;
}

li {
  list-style-type: none;
}

fieldset {
  border: none;
}

/* Général */
.main-text-color {
  color: #313232;
}
.flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-row-reverse {
  flex-direction: row-reverse;
}
.flex-column {
  flex-direction: column;
}
.justify-center {
  justify-content: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-around {
  justify-content: space-around;
}
.justify-self-center {
  justify-self: center;
}
.align-self-center {
  align-self: center;
}
.align-center {
  align-items: center;
}
.align-self-right {
  align-self: flex-end;
}
.align-self-end {
  align-self: flex-end;
}
.align-self-center {
  align-self: center;
}
.text-justify {
  text-align: justify;
}
.text-center {
  text-align: center;
}
.margin-top20 {
  margin-top: 15vw;
}
.margin-top10 {
  margin-top: 10vw;
}
.margin-end20 {
  margin-right: 20vw;
}
.margin-end10 {
  margin-right: 5vw;
}
.margin-bottom10 {
  margin-bottom: 10vh;
}
.margin-bottom20 {
  margin-bottom: 20vh;
}
.margin-bottom30 {
  margin-bottom: 30vh;
}
.margin-bottom5 {
  margin-bottom: 3vh;
}
.margin5 {
  margin: 1vh 1vw;
}
.margin7 {
  margin: 5vh 2vw;
}
.margin10 {
  margin: 5vw 3vw;
}
.margin20 {
  margin: 15vh 3vw;
}
.margin30 {
  margin: 17vh 5vw;
}
.width80 {
  width: 80%;
}
.top {
  top: 20%;
}
.borders {
  border-radius: 1em;
}
.padding2rem {
  padding: 2vh 2vw;
}
.padding5 {
  padding: 5vh 5vw;
}
li.list-no-list-style {
  list-style-type: none;
}
a.link-no-decoration {
  text-decoration: none;
}
.refemi {
  font-family: "Antique Book Cover";
  font-size: 1.7rem;
}
.white-hover:hover {
  color: white;
}

/* Buttons */
.cat-btn,
.add-btn,
.btn {
  background-color: transparent;
  border-color: transparent;
}
.btn {
  font-size: 0.8rem;
}
.btn:hover {
  color: #0808a3;
}
.send-btn {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem;
}
.send-btn:hover {
  color: #0808a3;
  background-color: white;
  border: 1px solid #0808a3;
}

/* Backgrounds */
.darkblue-bg {
  background-color: #0808a3;
}
.grey-bg {
  background-color: #8fc5bb;
}
.aqua-bg {
  background-color: #0be3af;
}
.alternate-bg:nth-child(3n + 2),
.darkblue-bg-opacity {
  background-color: #0808a380;
}
.alternate-bg:nth-child(3n + 1),
.grey-bg-opacity,
.grey-bg-opacity-cat {
  background-color: #8fc5bb80;
}
.alternate-bg:nth-child(3n + 3),
.aqua-bg-opacity {
  background-color: #0be3af80;
}
.grey-bg-opacity:hover,
.darkblue-bg-opacity:hover,
.aqua-bg-opacity:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}
.grey-bg-opacity:hover {
  background-color: #8fc5bb;
}
.darkblue-bg-opacity:hover {
  background-color: #0808a3;
}
.aqua-bg-opacity:hover {
  background-color: #0be3af;
}
.white-bg {
  background-color: white;
}
.text-white {
  color: white;
}

/* Hover */
.pointer {
  cursor: pointer;
}

/* Line */
hr {
  border: none;
  color: lightgray;
  background-color: lightgray;
  height: 0.5px;
}

/* Drop Shadow Up */
.dashboard-content {
  box-shadow: 0px -2px 5px 0px rgba(0, 0, 0, 0.1);
  padding: 5vh;
}

/* For Forms */
.required::after {
  color: red;
  content: " *";
}

/* Boxes */
.cat-box {
  width: 20rem;
  height: 15rem !important;
}
