@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
  color: #313232; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

fieldset {
  border: none; }

hr {
  border: none;
  color: lightgray;
  background-color: lightgray;
  height: 0.5px; }

.darkblue-bg {
  background-color: #0808a3 !important; }

.aqua-bg {
  background-color: #0be3af !important; }

.grey-bg {
  background-color: #8fc5bb !important; }

.alternate-bg:nth-child(3n + 2),
.darkblue-bg-opacity {
  background-color: #0808a380; }

.alternate-bg:nth-child(3n + 1),
.grey-bg-opacity,
.grey-bg-opacity-cat {
  background-color: #8fc5bb80; }

.alternate-bg:nth-child(3n + 3),
.aqua-bg-opacity {
  background-color: #0be3af80; }

.grey-bg-opacity:hover,
.darkblue-bg-opacity:hover,
.aqua-bg-opacity:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); }

.grey-bg-opacity:hover {
  background-color: #8fc5bb; }

.darkblue-bg-opacity:hover {
  background-color: #0808a3; }

.aqua-bg-opacity:hover {
  background-color: #0be3af; }

.white-bg {
  background-color: white; }

.counter-box {
  width: 5rem;
  height: 5rem;
  margin: 2rem; }
  .counter-box .counter-value {
    font-family: "Open Sans", sans-serif; }

.home .box {
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  min-width: 10rem;
  min-height: 10rem;
  max-width: 15rem;
  max-height: 15rem; }

.home .counters-container {
  height: 25rem; }
