@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Old+Standard+TT:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth; }

main {
  margin-top: 8rem; }

a {
  text-decoration: none; }

li {
  list-style-type: none; }

fieldset {
  border: none; }

hr {
  border: none;
  color: lightgray;
  background-color: lightgray;
  height: 0.5px; }

.darkblue-text {
  color: #0808a3; }

.darkblue-bg {
  background-color: #0808a3 !important; }

.darkblue-bg-opacity {
  background-color: #0808a380 !important; }

.aqua-bg {
  background-color: #0be3af !important; }

.aqua-bg-opacity {
  background-color: #0be3af80 !important; }

.grey-bg {
  background-color: #8fc5bb !important; }

.grey-bg-opacity {
  background-color: #8fc5bb80 !important; }

.alternate-bg:nth-child(3n + 2),
.darkblue-bg-opacity {
  background-color: #0808a380 !important; }

.alternate-bg:nth-child(3n + 1),
.grey-bg-opacity,
.grey-bg-opacity-cat {
  background-color: #8fc5bb80 !important; }

.alternate-bg:nth-child(3n + 3),
.aqua-bg-opacity {
  background-color: #0be3af80 !important; }

.grey-bg-opacity:hover,
.darkblue-bg-opacity:hover,
.aqua-bg-opacity:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3); }

.grey-bg-opacity:hover {
  background-color: #8fc5bb !important; }

.darkblue-bg-opacity:hover {
  background-color: #0808a3 !important; }

.aqua-bg-opacity:hover {
  background-color: #0be3af !important; }

.white-bg {
  background-color: white !important; }

.refemi {
  font-family: "Old Standard TT", serif; }

/* Buttons */
.cat-btn,
.add-btn,
.btn {
  background-color: transparent;
  border-color: transparent; }

.btn {
  font-size: 0.8rem; }

.btn:hover {
  color: #0808a3; }

.send-btn {
  border: 1px solid white;
  border-radius: 0.5rem;
  padding: 1rem; }

.send-btn:hover {
  color: #0808a3;
  background-color: white;
  border: 1px solid #0808a3; }

.pointer {
  cursor: pointer; }

.counter-box {
  width: 5rem;
  height: 5rem;
  margin: 2rem; }

.refemi-navbar {
  color: #4a4a4a;
  position: fixed !important;
  top: 0;
  width: 100%;
  height: 8rem;
  background-color: white;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  z-index: 999; }
  .refemi-navbar .logo {
    position: relative;
    margin: 1em; }
    .refemi-navbar .logo span {
      bottom: 2em;
      right: 10px;
      position: absolute;
      width: 0.5rem;
      height: 0.5rem; }
    .refemi-navbar .logo span:nth-child(1) {
      background-color: #8fc5bb;
      right: 0; }
    .refemi-navbar .logo span:nth-child(2) {
      background-color: #0808a3;
      right: -1em; }
    .refemi-navbar .logo span:nth-child(3) {
      background-color: #0be3af;
      right: -2em; }
    .refemi-navbar .logo a {
      font-size: 3em;
      color: #2f3030; }
  .refemi-navbar .nav-container .nav-item {
    margin: auto; }
    .refemi-navbar .nav-container .nav-item .btn-nav {
      padding: 3vh 1vw;
      width: 10rem; }
    .refemi-navbar .nav-container .nav-item .btn-nav:hover {
      color: white; }
    .refemi-navbar .nav-container .nav-item header li:nth-child(1) > button:hover {
      background-color: #8fc6bb;
      color: white; }
    .refemi-navbar .nav-container .nav-item header li:nth-child(2) > button:hover {
      background-color: #0808a3;
      color: white; }
    .refemi-navbar .nav-container .nav-item header li:nth-child(3) > button:hover {
      background-color: #0ae2af;
      color: white; }

.home .box {
  border-radius: 1rem;
  padding: 0.5rem;
  font-size: 1.5rem;
  min-width: 10rem;
  min-height: 10rem;
  max-width: 15rem;
  max-height: 15rem; }

.home .counters-container {
  height: 25rem; }

.home .paragraph-container {
  width: 60%;
  margin: auto; }

.home .counter-value {
  font-family: "Open Sans", sans-serif; }
